<!DOCTYPE html>
<html>
<head>
<title>Chat Bot</title>
</head>
<body>

<h1>{{heading}}</h1>
<p>This is my first Chot-Bot Application developed in Python.</p>



<label for="llsm">Choose an llm model:</label></br>
<select name="llms" id="llms">
  <option value="Chat GPT-turbo 3.5">Chat GPT-turbo 3.5</option>
  <option value="GPT 4o">GPT 4o</option>
  <option value="GPT-Turbo 3">GPT-Turbo 3</option>
  <option value="GPT-Turbo 2.9">GPT-Turbo 2.9</option>
</select></br></br></br>


<p1>Ask your question to chat gpt Bot</p1>

<input type="text" id="fname" name="fname"><br><br><br><br>
<a href='/'>Home</a>
</body>
</html>

